<div class="container-fluid center-xs top-space">
	<div class="row justify-content-center">
		<div class="col-xs-12">
			<h2>Nueva cotización</h2>
			<%= render 'form', quote: @quote %>
		</div>
	</div>
</div>

