<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Editar mi perfil</h1>
            <%= render 'form', profile: @profile %>
        </div>
    </div>
</div>

