<div class="col-sm-6 col-md-4 ">
            <h1 class="black-text">Cotiza ahora</h1>
            <p class="text-justify">Ingresa los datos sobre el producto que deseas cotizar</p>
            <div class="top-space">
                <%= render 'quotes/form'%>
            </div>
        </div>